[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.9"

[dev-packages]
pytest-cov = "~=2.6"
flake8 = "~=3.7"
flake8-isort = "~=2.6"
radon = "~=3.0"
twine = "~=1.13"
pytest-mock = "~=1.10"

[requires]
python_version = "3.7"
