[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

boto3 = "==1.9.91"


[dev-packages]

pytest-cov = "==2.6.1"
flake8 = "==3.6.0"
flake8-isort = "==2.6.0"
radon = "==3.0.0"
twine = "==1.12.1"
pytest-mock = "==1.10.1"


[requires]

python_version = "3.7"
